.portfolio {
    width: 1600px;
    height: 2420px;
    margin: 0 auto;
    padding: 0;
}

.portfolio header {
    height: 90px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin: 0;
}

.portfolio header img {
    margin: 28px 426px 27px 229px;
    float: left;
}

.portfolio header ul {
    list-style: none;
    width: 531px;
    height: 15px;
    padding: 0;
    margin: 40px 248px 35px 0;
    float: right;
}

.portfolio header ul li {
    float: left;
    margin: 0 45px 0 0;
    position: relative;
}

.portfolio header ul li a {
    text-decoration: none;
    color: #777;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.portfolio header ul li a:hover {
    color: #000;
    font-weight: 700;
    letter-spacing: 1.05px;
    font-family: "Roboto - Bold", sans-serif;
}

.unHeader {
    width: 1606px;
    height: 350px;
    background-color: #e2e2e2;
}

.unHeader div {
    display: inline-block;
    width: 540px;
    height: 56px;
    background-color: #000000;
    margin: 115px 0 0 233px;
}

.unHeader div h1 {
    display: inline-block;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    margin: 15px 31px 11px 23px;
}

.unHeader p {
    width: 306px;
    height: 15px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    margin: 44px 0 0 232px;
}

.unHeader img {
    display: inline-block;
    margin: -230px 0 0 1002px
}

.menuPortfolio {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 29px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding-top: 23px;
}

.menuPortfolio ul {
    list-style: none;
    padding: 0;
    width: 728px;
    height: 11px;
    margin: 0 auto;
}

.menuPortfolio ul li {
    float: left;
    color: #777777;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    
}

.menuPortfolio ul li a {
    text-decoration: none;
    color: #777777;
}

.menuPortfolio ul li img {
    margin: -8px 15px;
}

.menuPortfolio ul li a:hover {
    color: #000000;
}

.product1 {
    margin: 0 0 0 230px;
}

.product2 {
    margin: 0 30px 100px 30px;
}

.product3 {
    margin-bottom: -100px;
}

.product4 {
    margin: 34px 0 0 230px;
}

.product5 {
    margin: -135px 30px 0 30px;
}

.product6 {
    margin-bottom: -100px
}

.product7 {
    margin: 34px 30px 0 230px;
}

.product8 {
    margin-bottom: 200px;
}

.product9 {
    margin: 0 0 0 30px;
}

.product10 {
    margin: -181px 0 0 617px;
}

.mainPortfolio button {
    width: 125px;
    height: 30px;
    background-color: #959595;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20.57px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
    margin: 36px 0 0 735px;
    border: none;
    border-radius: 2.5px;
}

.portfolio footer {
    float: left;
    margin: 155px 0 0 0;
    width: 1604px;
    height: 300px;
    box-shadow: 0 -3px 5px 1px rgba(163, 163, 163, 0.1);
    background-color: #fff;
}

.portfolio footer img {
    margin: 64px 740px 68px 733px;
}

.portfolio footer a {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    margin-left: 100px
}

.portfolio footer a:nth-child(1) {
    margin-left: 500px
}

.portfolio footer p {
    width: 412px;
    height: 10px;
    color: #9c9c9c;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    margin: 62px 0 0 594px;
}

.portfolio footer p span {
    color: #000000;
    letter-spacing: 0.33px;
}